@tailwind base;
@tailwind components;
@tailwind utilities;

/* input */
.input-dark {
  @apply bg-gray-950 border border-gray-800 rounded-lg px-4 py-2 text-gray-200 placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-yellow-500;
}

/* primary button */
.btn-primary {
  @apply bg-yellow-500 hover:bg-yellow-600 text-black font-medium px-6 py-2 rounded-lg;
}

/* danger button */
.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white font-medium px-6 py-2 rounded-lg;
}

.label {
  @apply text-xs text-gray-400 mb-1 block;
}
